@import 'normalize';
@import 'base';

/*--------------------------------------------------------------
Header
--------------------------------------------------------------*/

header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background-color: $white;
    .site-header {
        padding: 20px 0;
        &__logo img {
            width: 50px;
            height: 50px;
        }
        nav {
            display: none;
            position: absolute;
            background-color: rgba(255, 255, 255, 0.445);
            backdrop-filter: blur(10px);
            top: 94px;
            right: 0;
            ul {
                li {
                    list-style: none;
                    a {
                        display: block;
                        font-weight: $bold;
                        padding: 20px 40px;
                        &:hover {
                            background-color: rgba(255, 255, 255, 0.704);
                        }
                    }
                }
            }
        }
        #nav-btn {
            display: flex;
            justify-content: space-between;
            flex-flow: column;
            align-items: flex-end;
            height: 30px;
            width: 45px;
            cursor: pointer;
            span {
                display: block;
                width: 100%;
                height: 4px;
                border-radius: 2px;
                background-color: $black;
                transition: 0.2s;
                &.active {
                    &:first-child {
                        transform: scaleY(0);
                    }
                    &:nth-child(2) {
                        
                    }
                    &:last-child {
                        transform: scaleY(0);
                    }
                }
            }
        }
    }
}

/*--------------------------------------------------------------
Page
--------------------------------------------------------------*/

/*-----Slider-----*/

#slider {
    position: relative;
    .slider-image {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: relative;
        width: 100%;
        height: 100vh;
        &__info {
            position: absolute;
            bottom: 100px;
            left: 50%;
            transform: translate(-50%, 0);
            a {
                background-color: rgba(255, 255, 255, 0.445);
                backdrop-filter: blur(10px);
                border-radius: 30px;
                margin: 0;
                text-decoration: none;
                color: $black;
                font-weight: $bold;
                padding: 20px;
                transition: .3s;
                &:hover {
                    background-color: $white;
                }
            }
        }
    }
    .slick-arrow {
        all: unset;
        position: absolute;
        transform: translate(0, -50%);
        top: 50%;
        z-index: 1;
        font-size: 0;
        &.slick-prev {
            left: 20px;
            &:before {
                content: '\2039';
                font-size: 50px;
                font-weight: $bold;
                cursor: pointer;
                color: $white;
            }
        }
        &.slick-next {
            right: 20px;
            &:before {
                content: '\203A';
                font-size: 50px;
                font-weight: $bold;
                cursor: pointer;
                color: $white;
            }
        }
    }
}

#map {
    height: 100vh;
    z-index: 1;
}

/*--------------------------------------------------------------
Footer
--------------------------------------------------------------*/