@charset "UTF-8";
*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
     -moz-appearance: button;
          appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

input[type=search] {
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
          appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/*--------------------------------------------------------------
Font face
--------------------------------------------------------------*/
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/Montserrat-Regular.woff2") format("woff2"), url("../assets/fonts/Montserrat-Regular.ttf") format("opentype");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: url("../assets/fonts/Montserrat-SemiBold.woff2") format("woff2"), url("../assets/fonts/Montserrat-SemiBold.ttf") format("opentype");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/Montserrat-Bold.woff2") format("woff2"), url("../assets/fonts/Montserrat-Bold.ttf") format("opentype");
}
/*--------------------------------------------------------------
Variables
--------------------------------------------------------------*/
html {
  --global_color: #4169e1;
  --black: #000000;
  --white: #FFFFFF;
  --dark_grey: #252525;
  --grey: #727272;
  --font: "Montserrat", sans-serif;
  --regular: 400;
  --semibold: 600;
  --bold: 700;
  --shadow: 0px 0px 30px 0px rgb(0 0 0 / 20%);
  --mask: #00000041;
  --radius_big: 50px;
  --radius: 30px;
}

@media (prefers-color-scheme: light) {
  body {
    color-scheme: light;
    background-color: var(--white);
  }
}
@media (prefers-color-scheme: dark) {
  body {
    color-scheme: dark;
    background-color: var(--dark_grey);
  }
}
/*--------------------------------------------------------------
Global
--------------------------------------------------------------*/
html {
  font-family: var(--font);
  background-color: var(--white);
  color: var(--black);
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  gap: 50px;
  height: 100vh;
}
body .switch {
  position: absolute;
  left: 50px;
  top: 50px;
}

.mobile-container {
  max-width: 450px;
  width: 100%;
  background-color: var(--white);
  height: 100%;
  max-height: 900px;
  border-radius: var(--radius_big);
  overflow-y: scroll;
  position: relative;
  box-shadow: var(--shadow);
}
@media (max-width: 1500px) {
  .mobile-container {
    max-width: 360px;
    max-height: 700px;
  }
}
.mobile-container::-webkit-scrollbar {
  display: none;
}

.wrapper {
  margin: 0 auto;
  width: 90%;
}

.h1 {
  font-size: 60px;
}
@media (max-width: 1500px) {
  .h1 {
    font-size: 50px;
  }
}

.h2 {
  font-size: 50px;
}

.h3 {
  font-size: 40px;
}

.h4 {
  font-size: 25px;
  margin-top: 80px;
  margin-bottom: 30px;
}

a {
  color: var(--black);
  text-decoration: none;
}

section {
  margin: 50px 0;
}

.padding_0 {
  padding: 0;
}

.margin_0 {
  margin: 0;
}

.color_white {
  color: #FFFFFF;
}

.text-align_center {
  text-align: center;
}

.scroll {
  overflow: hidden;
}

/*--------------------------------------------------------------
Colonnes
--------------------------------------------------------------*/
.row {
  display: flex;
  justify-content: space-between;
}

.col1 {
  flex: 0 0 16.6666666667%;
  max-width: 16.6666666667%;
}

.col2 {
  flex: 0 0 33.3333333333%;
  max-width: 33.3333333333%;
}

.col3 {
  flex: 0 0 50%;
  max-width: 50%;
}

.col4 {
  flex: 0 0 66.6666666667%;
  max-width: 66.6666666667%;
}

.col5 {
  flex: 0 0 83.3333333333%;
  max-width: 83.3333333333%;
}

.col6 {
  flex: 0 0 100%;
  max-width: 100%;
}

/*--------------------------------------------------------------
Modèles
--------------------------------------------------------------*/
/*-----Bouton-----*/
.btn {
  text-transform: uppercase;
  text-decoration: none;
  border-radius: var(--radius);
  font-weight: var(--bold);
  padding: 15px 40px;
  transition: 0.2s;
  cursor: pointer;
}

.btn_primary {
  background-color: var(--global_color);
  color: var(--white);
}
.btn_primary:hover {
  box-shadow: var(--shadow);
  transform: translate(0, -2px);
}

/*-----Pop-up-----*/
#popup {
  display: none;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.6705882353);
  border-radius: var(--radius_big);
  max-width: 450px;
  max-height: 900px;
  height: 100%;
  width: 100%;
  z-index: 30;
}
@media (max-width: 1500px) {
  #popup {
    max-width: 360px;
    max-height: 700px;
  }
}
#popup.active {
  display: block;
}
#popup__inner {
  background-color: var(--white);
  position: absolute;
  width: 80%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  border-radius: var(--radius);
  box-shadow: var(--shadow);
}
#popup__inner span {
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 15px;
}
#popup__inner span:before {
  content: "×";
  font-size: 30px;
  font-weight: var(--semibold);
}

/*-----Formulaire-----*/
form {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}
form .input-group {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  margin: 15px 0;
}
form .input-group.mid {
  width: 47%;
}
form .input-group input, form .input-group textarea {
  transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);
  border: solid 1.5px var(--grey);
  border-radius: 1rem;
  background: none;
  padding: 1rem;
  font-size: 16px;
  width: 100%;
  color: var(--black);
  resize: none;
}
form .input-group input:focus, form .input-group input:valid, form .input-group textarea:focus, form .input-group textarea:valid {
  outline: none;
  border: 1.5px solid var(--global_color);
}
form .input-group input:focus ~ label, form .input-group input:valid ~ label, form .input-group textarea:focus ~ label, form .input-group textarea:valid ~ label {
  transform: translateY(-50%) scale(0.8);
  background-color: var(--white);
  color: var(--global_color);
  padding: 0 10px;
}
form .input-group label {
  position: absolute;
  transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(1rem);
  pointer-events: none;
  color: var(--grey);
  left: 15px;
}
form input[type=submit] {
  width: 100%;
  border: 0;
  outline: 0;
}

/*--------------------------------------------------------------
Header, Nav
--------------------------------------------------------------*/
.site-header {
  background: url("../assets/img/image5.jpeg") no-repeat center;
  background-size: cover;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  position: relative;
  z-index: 1;
}
.site-header:after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--mask);
  z-index: -1;
}
.site-header h1 {
  text-align: center;
  padding: 30px;
}

/*------Navs------*/
.bottom-nav {
  opacity: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  background-color: var(--dark_grey);
  border-radius: var(--radius);
  margin: 800px 20px 0 20px;
  max-width: 410px;
  max-height: 80px;
  height: 100%;
  width: 100%;
  z-index: 20;
  padding: 20px 0;
  transition: 0.3s;
}
@media (max-width: 1500px) {
  .bottom-nav {
    margin: 600px 20px 0 20px;
    max-width: 320px;
  }
}
.bottom-nav.active {
  opacity: 1;
}
.bottom-nav__home img {
  width: 40px;
  height: 40px;
}
.bottom-nav__map img {
  width: 40px;
  height: 40px;
}
.bottom-nav__btn {
  position: relative;
  transition: 0.5s ease-in-out;
  transform: rotate(0deg);
  width: 45px;
  height: 35px;
  cursor: pointer;
}
.bottom-nav__btn span {
  display: block;
  position: absolute;
  background-color: var(--white);
  transition: 0.25s ease-in-out;
  transform: rotate(0deg);
  border-radius: 10px;
  height: 4px;
  width: 100%;
  opacity: 1;
  left: 0;
}
.bottom-nav__btn span:first-child {
  transform-origin: left center;
  top: 0px;
}
.bottom-nav__btn span:nth-child(2) {
  transform-origin: left center;
  top: 15px;
}
.bottom-nav__btn span:last-child {
  transform-origin: left center;
  bottom: 0;
}
.bottom-nav__btn span.active:first-child {
  transform: rotate(45deg);
  top: 0;
  left: 8px;
}
.bottom-nav__btn span.active:nth-child(2) {
  width: 0%;
  opacity: 0;
}
.bottom-nav__btn span.active:last-child {
  transform: rotate(-45deg);
  top: 32px;
  left: 8px;
}

.burger-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.445);
  transition: filter 0.3s, opacity 0.4s, height 0s linear 0.4s;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  border-radius: var(--radius_big);
  max-width: 450px;
  max-height: 900px;
  height: 0;
  width: 100%;
  opacity: 0;
  z-index: 10;
  filter: blur(10px);
}
@media (max-width: 1500px) {
  .burger-nav {
    max-width: 360px;
    max-height: 700px;
  }
}
.burger-nav.active {
  transition: filter 0.3s, opacity 0.4s, height 0s linear 0s;
  filter: blur(0);
  opacity: 1;
  height: 100%;
}
.burger-nav ul li {
  list-style: none;
  margin: 10px;
}
.burger-nav ul li a {
  display: block;
  text-align: center;
  font-weight: var(--bold);
  padding: 20px 40px;
  border-radius: var(--radius_big);
  font-size: 25px;
  transition: 0.3s;
}
@media (max-width: 1500px) {
  .burger-nav ul li a {
    font-size: 20px;
  }
}
.burger-nav ul li a:hover {
  background-color: rgba(255, 255, 255, 0.704);
}

/*--------------------------------------------------------------
Page
--------------------------------------------------------------*/
/*-----Slider-----*/
#slider {
  position: relative;
}
#slider .slider {
  cursor: -webkit-grab;
  cursor: grab;
}
#slider .slider .slick-list {
  padding: 0 20% 0 0 !important;
  border-top-left-radius: var(--radius);
  border-bottom-left-radius: var(--radius);
}
#slider .slider__image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  width: 100%;
  height: 300px;
  border-radius: var(--radius);
  margin-right: 30px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
#slider .slider__image__info {
  background: url("../assets/img/place.svg") no-repeat 18px center rgba(0, 0, 0, 0.25);
  background-size: 20px;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border-radius: var(--radius);
  margin-bottom: 20px;
  font-size: 14px;
  padding: 15px 15px 15px 50px;
  color: var(--white);
}
#slider .slider .slick-arrow {
  all: unset;
  position: absolute;
  transform: translate(0, -50%);
  top: 50%;
  z-index: 1;
  font-size: 0;
}
#slider .slider .slick-arrow.slick-prev {
  left: 20px;
}
#slider .slider .slick-arrow.slick-prev:before {
  font-size: 50px;
  font-weight: var(--bold);
  cursor: pointer;
  color: var(--white);
}
#slider .slider .slick-arrow.slick-next {
  right: 20px;
}
#slider .slider .slick-arrow.slick-next:before {
  font-size: 50px;
  font-weight: var(--bold);
  cursor: pointer;
  color: var(--white);
}

/*------Map------*/
#map #leaflet-map {
  height: 400px;
  border-radius: var(--radius);
  z-index: 1;
}
#map #leaflet-map .leaflet-control-attribution {
  display: none;
}

/*------Weather------*/
#weather .weather {
  display: flex;
  flex-flow: column;
  gap: 20px;
  margin-top: 80px;
}
#weather .weather__current {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(0deg, rgb(35, 143, 223) 0%, rgb(153, 202, 253) 100%);
  box-shadow: 0px 10px 20px 0px rgba(101, 158, 248, 0.86);
  border-radius: var(--radius);
  padding: 30px;
}
#weather .weather__current .left {
  margin-top: -80px;
}
#weather .weather__current .left span {
  background-size: 150px;
  width: 150px;
  height: 150px;
}
#weather .weather__current .left span.snow {
  background-size: 130px;
}
#weather .weather__current .left .desc {
  color: var(--white);
  font-weight: var(--bold);
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 0;
}
#weather .weather__current .left .day {
  color: var(--white);
  margin-bottom: 0;
}
#weather .weather__current .right {
  display: flex;
  align-items: end;
  flex-flow: column;
  justify-content: space-between;
}
#weather .weather__current .right .temp {
  font-size: 70px;
  font-weight: var(--bold);
  color: var(--white);
  text-align: end;
  margin: 0;
}
#weather .weather__current .right .place {
  font-weight: var(--bold);
  color: var(--white);
  text-align: end;
  width: 80%;
  word-break: break-word;
  margin-bottom: 0;
}
#weather .weather__forecast {
  display: flex;
  justify-content: space-between;
}
#weather .weather__forecast__single .day {
  font-weight: var(--bold);
  text-align: center;
}
#weather .weather__forecast__single div {
  background-color: #f4f4f4;
  border-radius: var(--radius);
  padding: 10px;
  width: 100px;
  height: 100px;
}
#weather .weather__forecast__single div span {
  background-size: 50px;
  width: 50px;
  height: 50px;
  margin: 0 auto;
}
#weather .weather__forecast__single div span.snow {
  background-size: 40px;
}
#weather .weather__forecast__single div .temp {
  font-weight: var(--bold);
  text-align: center;
  margin: 5px 0 0 0;
}
#weather .weather span {
  background-repeat: no-repeat;
  background-position: center;
  display: block;
}
#weather .weather span.snow {
  background-image: url("../assets/img/weather/snow.svg");
  background-size: 130px;
}
#weather .weather span.rain {
  background-image: url("../assets/img/weather/rain.svg");
}
#weather .weather span.fog {
  background-image: url("../assets/img/weather/fog.svg");
}
#weather .weather span.wind {
  background-image: url("../assets/img/weather/wind.svg");
}
#weather .weather span.cloudy {
  background-image: url("../assets/img/weather/cloudy.svg");
}
#weather .weather span.partly-cloudy-day {
  background-image: url("../assets/img/weather/cloud-sun.svg");
}
#weather .weather span.partly-cloudy-night {
  background-image: url("../assets/img/weather/cloud-moon.svg");
}
#weather .weather span.clear-day {
  background-image: url("../assets/img/weather/sun.svg");
}
#weather .weather span.clear-night {
  background-image: url("../assets/img/weather/moon.svg");
}

/*--------------------------------------------------------------
Footer
--------------------------------------------------------------*/
footer {
  padding: 50px;
}