@charset "UTF-8";
*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
     -moz-appearance: button;
          appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

input[type=search] {
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
          appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/*--------------------------------------------------------------
Font face
--------------------------------------------------------------*/
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/Montserrat-Regular.woff2") format("woff2"), url("../assets/fonts/Montserrat-Regular.ttf") format("opentype");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: url("../assets/fonts/Montserrat-SemiBold.woff2") format("woff2"), url("../assets/fonts/Montserrat-SemiBold.ttf") format("opentype");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/Montserrat-Bold.woff2") format("woff2"), url("../assets/fonts/Montserrat-Bold.ttf") format("opentype");
}
/*--------------------------------------------------------------
Variables
--------------------------------------------------------------*/
/*--------------------------------------------------------------
Global
--------------------------------------------------------------*/
html {
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

.wrapper {
  max-width: 1375px;
  margin: 0 auto;
  width: 95%;
}

a {
  color: #000000;
  text-decoration: none;
}

.padding-0 {
  padding: 0;
}

.margin-0 {
  margin: 0;
}

.text-align_center {
  text-align: center;
}

.active {
  display: block !important;
}

.scroll {
  overflow: hidden;
}

/*--------------------------------------------------------------
Colonne
--------------------------------------------------------------*/
.row {
  display: flex;
  justify-content: space-between;
}

.col1 {
  flex: 0 0 16.6666666667%;
  max-width: 16.6666666667%;
}

.col2 {
  flex: 0 0 33.3333333333%;
  max-width: 33.3333333333%;
}

.col3 {
  flex: 0 0 50%;
  max-width: 50%;
}

.col4 {
  flex: 0 0 66.6666666667%;
  max-width: 66.6666666667%;
}

.col5 {
  flex: 0 0 83.3333333333%;
  max-width: 83.3333333333%;
}

.col6 {
  flex: 0 0 100%;
  max-width: 100%;
}

/*--------------------------------------------------------------
Modèles
--------------------------------------------------------------*/
/*-----Bouton-----*/
.btn {
  background: none;
  border-radius: 30px;
  padding: 10px 25px;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  transition: 0.2s;
  font-weight: 600;
}

.btn_primary {
  background-color: #000000;
  color: #ffffff;
}
.btn_primary:hover {
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.2);
  transform: translate(0, -2px);
}

/*-----Pop up-----*/
#popup {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.6705882353);
  inset: 0;
  z-index: 10;
  display: none;
}
#popup__inner {
  background-color: #ffffff;
  position: absolute;
  width: 80%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  border-radius: 30px;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.2);
}
#popup__inner span {
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 15px;
}
#popup__inner span:before {
  content: "×";
  font-size: 30px;
  font-weight: 600;
}

/*-----Formulaire-----*/
/*--------------------------------------------------------------
Header
--------------------------------------------------------------*/
header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background-color: #ffffff;
}
header .site-header {
  padding: 20px 0;
}
header .site-header__logo img {
  width: 50px;
  height: 50px;
}
header .site-header nav {
  display: none;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.445);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  top: 94px;
  right: 0;
}
header .site-header nav ul li {
  list-style: none;
}
header .site-header nav ul li a {
  display: block;
  font-weight: 700;
  padding: 20px 40px;
}
header .site-header nav ul li a:hover {
  background-color: rgba(255, 255, 255, 0.704);
}
header .site-header #nav-btn {
  display: flex;
  justify-content: space-between;
  flex-flow: column;
  align-items: flex-end;
  height: 30px;
  width: 45px;
  cursor: pointer;
}
header .site-header #nav-btn span {
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #000000;
  transition: 0.2s;
}
header .site-header #nav-btn span.active:first-child {
  transform: scaleY(0);
}
header .site-header #nav-btn span.active:last-child {
  transform: scaleY(0);
}

/*--------------------------------------------------------------
Page
--------------------------------------------------------------*/
/*-----Slider-----*/
#slider {
  position: relative;
}
#slider .slider-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  width: 100%;
  height: 100vh;
}
#slider .slider-image__info {
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translate(-50%, 0);
}
#slider .slider-image__info a {
  background-color: rgba(255, 255, 255, 0.445);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border-radius: 30px;
  margin: 0;
  text-decoration: none;
  color: #000000;
  font-weight: 700;
  padding: 20px;
  transition: 0.3s;
}
#slider .slider-image__info a:hover {
  background-color: #ffffff;
}
#slider .slick-arrow {
  all: unset;
  position: absolute;
  transform: translate(0, -50%);
  top: 50%;
  z-index: 1;
  font-size: 0;
}
#slider .slick-arrow.slick-prev {
  left: 20px;
}
#slider .slick-arrow.slick-prev:before {
  content: "‹";
  font-size: 50px;
  font-weight: 700;
  cursor: pointer;
  color: #ffffff;
}
#slider .slick-arrow.slick-next {
  right: 20px;
}
#slider .slick-arrow.slick-next:before {
  content: "›";
  font-size: 50px;
  font-weight: 700;
  cursor: pointer;
  color: #ffffff;
}

#map {
  height: 100vh;
  z-index: 1;
}

/*--------------------------------------------------------------
Footer
--------------------------------------------------------------*//*# sourceMappingURL=style.css.map */